<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Editing Video</h3>
        <hr>
        <%= render 'form' %>

        <%= link_to 'Show', @video %> |
        <%= link_to 'Back', videos_path %>

      </div>
    </div>
  </div>
</div>
