<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Esqueceu sua Senha ????
        </div>
      </div>
      <div class="panel-body">
        <form method="post">
          <div class="form-group form-group-sm">
            <label for="email"><i class="glyphicon glyphicon-envelope"></i> Email</label>
            <input type="text" class="form-control" id="email" name="email">
          </div>
          <button type="button" class="btn btn-primary">Recuperar Senha</button>
        </form>
      </div>
    </div>
  </div>
</div>