<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <i class="glyphicon glyphicon-education"></i> Login Aluno
        </div>
      </div>
      <div class="panel-body">
        <form method="post">
          <div class="form-group form-group-sm">
            <label for="matricula">Matrícula</label>
            <input type="text" name="matricula" class="form-control" id="matricula">
          </div>
          <div class="form-group form-group-sm">
            <label for="senha">Senha</label>
            <input type="password" name="senha" class="form-control" id="senha">
          </div>
          <button type="submit" class="btn btn-primary">Entrar</button>
          <%= link_to 'Esqueceu sua senha?', controller: 'home', action: 'esqueceuSenhaAluno' %>
        </form>
      </div>
    </div>
  </div>
</div>