<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <strong><i class="glyphicon glyphicon-facetime-video"></i> Meus Videos</strong>
      </div>

    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-3">
          <form action="" method="post">
            <div class="form-group">
              <label for="filtro">Filtrar Por</label>

              <select name="filtro" id="filtro" class="form-control">
                <option value="">SELECIONE</option>
                <option value="disciplina">DISCIPLINA</option>
                <option value="assunto">ASSUNTO</option>
              </select>

            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe src="//www.youtube.com/embed/ePbKGoIGAXY" class="embed-responsive-item"></iframe>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe src="//www.youtube.com/embed/ePbKGoIGAXY" class="embed-responsive-item"></iframe>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe src="//www.youtube.com/embed/ePbKGoIGAXY" class="embed-responsive-item"></iframe>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe src="//www.youtube.com/embed/ePbKGoIGAXY" class="embed-responsive-item"></iframe>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-3">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe src="//www.youtube.com/embed/ePbKGoIGAXY" class="embed-responsive-item"></iframe>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe src="//www.youtube.com/embed/ePbKGoIGAXY" class="embed-responsive-item"></iframe>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe src="//www.youtube.com/embed/ePbKGoIGAXY" class="embed-responsive-item"></iframe>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe src="//www.youtube.com/embed/ePbKGoIGAXY" class="embed-responsive-item"></iframe>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>