<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="glyphicon glyphicon-info-sign"></i> Primeiro Acesso
      </div>
    </div>
    <div class="panel-body">
      <form action="">
        <div class="form-group form-group-sm">
          <label for="cpf">CPF</label>
          <input type="text" class="form-control" name="cpf" id="cpf" >
        </div>
        <div class="form-group form-group-sm">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" id="email" >
        </div>
        <div class="form-group form-group-sm">
          <label for="sexo">Sexo</label>
          <select name="sexo" id="sexo" class="form-control">
            <option value="">SELECIONE</option>
            <option value="MASCULINO">MASCULINO</option>
            <option value="FEMININO">FEMININO</option>
          </select>
        </div>
        <div class="form-group form-group-sm">
          <label for="senha">Senha</label>
          <input type="password" class="form-control" name="senha" id="senha" >
        </div>
        <div class="form-group form-group-sm">
          <label for="repeat_senha">Repita Senha</label>
          <input type="password" class="form-control" name="repeat_senha" id="repeat_senha" >
        </div>
        <div class="form-group">
          <button class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-floppy-save"></i> Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>