<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Cadastro de Tipo de Usuário</h3>
        <hr>
        <%= render 'form' %>

        <%= link_to '<i class="glyphicon glyphicon-eye-open"></i> Visualizar'.html_safe, tipo_usuarios_path, class: 'btn btn-sm btn-warning' %>

      </div>
    </div>
  </div>
</div>
